.page-container {
    max-width: 1000px;
    margin: auto;
    padding: 70px 8%;
    line-height: 1.8;
}

.page-container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.page-container h2 {
    margin-top: 30px;
    color: #ff3f6c;
}

.page-container p {
    margin-bottom: 15px;
    font-size: 18px;
}

.page-container ul {
    margin-top: 10px;
    padding-left: 25px;
}

.page-container li {
    margin-bottom: 8px;
}