/* Page Background */

.register-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
    padding: 40px;
}

/* Register Card */

.register-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
}

/* Title */

.register-card h2 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
}

.register-subtitle {
    text-align: center;
    font-size: 15px;
    color: #777;
    margin-bottom: 25px;
}

/* Labels */

.register-card label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 500;
}

/* Inputs */

.register-card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: 0.2s;
}

.register-card input:focus {
    border-color: #ff3f6c;
    outline: none;
}

/* Button */

.register-card button {
    width: 100%;
    padding: 12px;
    background: #111;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.register-card button:hover {
    background: #ff3f6c;
}

/* Login Link */

.login-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #ff3f6c;
    font-weight: 500;
}